.register {
    margin-top: 169px;
    background: #fafafa;
    border-radius: 30px;
    width: 50%;
  }
  
  .inputHeading {
    width: 40%;
  }
  
  .inputType {
    background: rgba(126, 177, 128, 0.3);
    border-radius: 30px;
    width: 60%;
  }
  
  .button {
    width: 157px;
    background: #7eb180;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }
  
  .a-divider {
    text-align: center;
    position: relative;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
  }
  
  .a-divider > h5 {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
  }
  
  .a-divider.a-divider-break:after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
  }
  
  .a-divider.a-divider-section .a-divider-inner {
    height: 44px;
    margin-bottom: -18px;
    background: -webkit-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.14),
      rgba(0, 0, 0, 0.03) 3px,
      transparent
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.14),
      rgba(0, 0, 0, 0.03) 3px,
      transparent
    );
    z-index: 0;
    zoom: 1;
  }
  
  .a-divider.a-divider-section .a-divider-inner:after {
    display: block;
    width: 100%;
    height: 44px;
    background-color: transparent;
    background: -webkit-linear-gradient(
      to right,
      #fff,
      rgba(255, 255, 255, 0),
      #fff
    );
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
    z-index: 1;
    content: "";
  }
  
  .facebook {
    color: #1877f2;
    font-size: larger;
  }
  
  .google {
    color: #db4437;
    font-size: larger;
  }
  
  .apple {
    color: #000000;
    font-size: larger;
  }
  
  .twitter {
    color: #1da1f2;
    font-size: larger;
  }
  